@use './utils/variables';
@use './utils/mixins';

@use './base/font-face';
@use './base/base';
@use './base/typography';
@use './components/header';
@use './components/footer';
@use './components/buttons';
@use './components/modal';
@use './pages/home';
@use './pages/gifts';

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: variables.$color-bg-body;
  font-family: variables.$font-main;
  color: variables.$color-black;
}

