@mixin flex-container (
  $display: flex,
  $direction: row,
  $wrap: nowrap,
  $justifyContent: center,
  $alignItems: center
) {
  display: $display;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin wrapper-column (
  $alignX: center,
  $gap: 0.75rem,
  $padding: 3.75rem 0 3.75rem 0
) {
  @include flex-container ($direction: column, $alignItems: $alignX);
  gap: $gap;
  padding: $padding;
}
