//Colors
$color-bg-body: #FFFFFF;
$color-bg-secondary: #ECF3F8;
$color-black: #181C29;
$color-white: #FFFFFF;
$color-white-40: rgba($color-white, 0.4);
$color-white-20: rgba($color-white, 0.2);
$color-black-80: rgba(24, 28, 41, 0.80);
$color-primary: #FF4646;
$color-primary-10: rgba($color-primary, 0.1);
$color-purple: #4361FF;
$color-green: #06A44F;
$color-pink: #FF43F7;

//Fonts
$font-main: 'Montserrat', sans-serif;

//Breakpoints
$breakpoint-sm: 380px;
$breakpoint-md: 768px;
$breakpoint-l: 1440px;

//Size
$header-height-mob: 64px;
